; Comparing "trikz_cyrus.bsp" (453 entities) with "trikz_cyrus_n.bsp" (453 entities)
; Removed 451 identical entities.

;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "buttonlong1"
		"origin" "4524 7082 -1077"
		"model" "*110"
		"hammerid" "7986"
	}
	delete:
	{
		"OnPressed" "buttonlong2,Unlock,,200,-1"
	}
	insert:
	{
		"OnPressed" "buttonlong1,Unlock,,200,-1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "count_1"
		"origin" "2308 7661 -695"
		"hammerid" "8091"
	}
	delete:
	{
		"OnHitMax" "megalongfin,Disable,,180,-1"
	}
}
; Generated 2 modify blocks.

;  ______ _____ _   _______ ______ _____
; |  ____|_   _| | |__   __|  ____|  __ \
; | |__    | | | |    | |  | |__  | |__) |
; |  __|   | | | |    | |  |  __| |  _  /
; | |     _| |_| |____| |  | |____| | \ \
; |_|    |_____|______|_|  |______|_|  \_\
; Generated 0 filter blocks.

;           _____  _____
;     /\   |  __ \|  __ \
;    /  \  | |  | | |  | |
;   / /\ \ | |  | | |  | |
;  / ____ \| |__| | |__| |
; /_/    \_\_____/|_____/
; Generated 0 add blocks.

; File generated on Thu, 06 Apr 2017 14:29:34 +0000 in 0.045030832290649414 seconds.
